@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    height: 100vh;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
}

div.container {
    position: relative;
}

img.capa {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    width: 100%;
    height: auto;
}

img.logo {
    position: absolute;
    top: 180px;
    left: 400px;
    width: 50%;
    height: auto;
    bottom: 0;
    transform: translateX(40%);
    transform: rotate(-5.5deg);
}

div.corpo-container {
    position: relative;
}

img.corpo {
    width: 100%;
    height: auto;
    margin-top: -8%;
    clip-path: polygon(0 13.5%, 100% -0.2%, 100% 100%, 0 100%);
}

.video {
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 0;
    width: 50%;
    height: 60%;
    pointer-events: none;
}

iframe {
    width: 100%;
    height: 100%;
}