@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    height: 100vh;
    padding: 0;
}

header {
    color: #fff;
    text-align: center;
}

div.container{
    position: relative;
}

img.capa{
    width: 100%;
    height: auto;
    clip-path: polygon(0 0,100% 0, 100% 70%, 0 100%);
 
}

img.logo{
    position: absolute;
    top: 200px;
    left:300px;
    width: 50%;
    height: auto;
    bottom: 0;
    transform: translateX(40%);
    transform: rotate(-6.5deg);
}